/* hero background image
.bgimage {
    height:130vh;
    background: url('images/IMG_2865.jpeg');
    background-size:cover;
    position:center;
} */

/* chatgpt implementation */
/* For wide screens */
.bgimage {
  background-image: url('images/IMG_2865.jpeg');
  background-size: cover;
  background-position: center center;
  height: 130vh;
}

/* For smaller screens */
@media only screen and (max-width: 300px) {
  .bgimage {
    background-size: contain;
  }
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

nav {
	padding: 24px;

}

/* about section image css */

.imageAboutPage {
    width: 100%;
}
.col-lg-8 {
    text-align: justify;
}

section {
  height: 120vh;
  padding-top: 50px;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 70px 48px;
	padding-bottom: 120px;
  padding-top: 50px;
}

.card {
  border: none;
}

.card:hover img {
	transform: scale(1.02);
}

.card-title {
	color: darkgreen;
	padding-top: 16px;
	font-size: 24px;
}

.card img {
	width: 80%;
	height: 80%;
	border-radius: 30px;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
}

.col-lg-6 {
  padding-top: 50px;
}

a {
  text-decoration: none;}

.projects{
  padding-top: 70px
}
